@media screen and (min-width:320px ) and (max-width: 480px) {
    .one {
        flex-wrap: wrap;
        width: 100%;
    }
    section{
        width: 100%;
        height: 80%;
    }
    .F{
        width: 100%;
        height: 20%;
    }



}