*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 100vh;
    margin: 20px auto;
    gap: 32px;

    flex-wrap: wrap;
}
img{
    width: 372px;
    height: 279px;
}
h3{
    margin-top: 20px;
    color: var(#000);
    text-align: center;
    font-family: Inter,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
p{

    margin-top: 15px;
    color: var( #3C3C43);
    text-align: center;
    font-family: Inter,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
div{
    height: 400px;

}